@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 14px;
    font-family: 'Noto Sans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.section {
    @apply border-t-2 border-slate-900;
}

.section-secondary {
    @apply bg-white;
}

.btn-primary {
    @apply py-6 px-10 border-teal-900 border text-xl md:block md:w-fit font-bold text-white bg-teal-600 shadow-sm rounded-md transition-all hover:bg-teal-800;
}

.page, .article, .section-container {
    @apply container md:max-w-3xl mx-auto px-4 py-24;
}

.page-title, .article-title, .section-title {
    @apply font-black text-5xl mb-8;
}

.page-subsection {
    @apply font-black text-3xl mb-2 mt-8;
}

.page ul {
    @apply mb-4;
}

.page ul li {
    @apply text-xl leading-loose;
}

.page a, .article a {
    @apply underline text-teal-600;
}

.article-content, .page-content, .section-content {
    @apply text-slate-700;
}

.article-content p, .page-content p, .section-content p {
    @apply leading-loose text-xl my-4;
}

.article-content ol {
    @apply list-decimal list-inside text-xl leading-loose mb-4;
}

.article-content ul {
    @apply list-disc list-inside text-xl leading-loose mb-4;
}

.typewriter h3 {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    font-family: monospace;
    animation:
        typing 7s steps(40, end) infinite,
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    10% {
        width: 100%
    }

    80% {
        width: 100%
    }

    90% {
        width: 0
    }

    to {
        width: 0
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #0d9488;
    }
}