---
layout: default
title: Help - Yappir
---

<div class="page page-sm">
    <div class="toc">
        <h1>Getting Started</h1>
        <h2>The Basics</h2>
        <ul class="page-links">
            {% assign articles = site.help | sort: article.title %}
            {% for article in articles %}
            {% if article.categories contains 'basic' %}
            <li><a href="{{article.url}}">{{article.title}}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
        <h2>Troubleshooting</h2>
        <ul class="page-links">
            {% assign articles = site.help | sort: article.title %}
            {% for article in articles %}
            {% if article.categories contains 'troubleshooting' %}
            <li><a href="{{article.url}}">{{article.title}}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% include support.html %}