*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

ul,
ol {
  list-style-position: inside;
}

html {
  --surface-default: #ffffff;
  --surface-hover: #f6f6f7;
  --background-default: #f6f6f7;
  --background-pressed: #dde0e4;
  --background-hover: #edeeef;
  --background-footer: #202123;
  --border-default: #202123;
  --shadow-default: #202123;
  --action-primary: #35ed35;
  --action-primary-hovered: #00ff00;
  --text-default: #202223;
  --text-on: #e3e5e7;
  --text-subdued: #3f454d;
  --radius-default: 4px;
  --surface-shadow-xl: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  line-height: 1.5;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /*font-size: 0.875rem;*/
  color: var(--text-default);
  background-color: var(--background-default);
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.centered-inner {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;
}

.hero {
  font-size: 1rem;
}

.hero-title {
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 1;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.hero-subheading {
  font-size: 1.5rem;
  line-height: 1.625;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--text-subdued);
}

.hide-small {
  display: none;
}

.hide-large {
  display: block;
}

.main {
  flex-grow: 1;
}

.separator {
  flex-grow: 1;
}

.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.navbar button {
  border: none;
  background: inherit;
}

.navbar-brand {
  display: flex;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 700;
}

.navbar-brand img {
  width: 2rem;
  height: 2rem;
  display: inline;
  margin-right: 0.5rem;
}

.navbar-menu button {
  width: 2rem;
  height: 2rem;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0 auto;
  width: calc(100% - 2rem);
  background-color: var(--surface-default);
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  right: 0;
  left: 0;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: var(--radius-default);
  overflow: hidden;
  filter: var(--surface-shadow-xl);
}

.navbar-links a {
  padding: 0.25rem 0.75rem;
  border-radius: 999px;
  overflow: clip;
}

.navbar-links a:hover {
  background-color: var(--background-hover);
}

.navbar-links a:active {
  background-color: var(--background-pressed);
}

.navbar-hidden {
  display: none;
}

.footer {
  background-color: var(--background-footer);
  color: var(--text-on);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer-inner {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.grid-2 {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.section {
  padding-top: 2rem;
  padding-bottom: 6rem;
}

.section-title {
  font-size: 2rem;
}

.section-subtitle {
  font-size: 1.125rem;
  line-height: 1.625;
  color: var(--text-subdued);
}

.btn {
  border: 2px solid var(--border-default);
  border-radius: var(--radius-default);
  color: var(--text-default);
  background-color: var(--surface-default);
  box-shadow: 0.25rem 0.25rem var(--shadow-default);
  padding: 1rem 2rem;
  font-weight: 500;
  transition: all;
  transition-duration: 0.15s;
  text-align: center;
  display: inline-block;
}

.btn:hover {
  transform: translate(2px, 2px);
  background-color: var(--background-hover);
  box-shadow: none;
}

.btn-big {
  font-size: 1.25rem;
}

.btn-wide {
  width: 100%;
}

.btn-primary {
  background-color: var(--action-primary);
}

.btn-primary:hover {
  background-color: var(--action-primary-hovered);
}

.icon {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  display: inline;
}

.embedded-chat {
  min-width: 22rem;
  min-height: 35rem;
  border-radius: var(--radius-default);
  border: 2px solid var(--border-default);
  box-shadow: 4px 4px var(--shadow-default);
}

.section-video h2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 1em;
  line-height: 1.1;
}

.section-video video {
  max-width: 480px;
  width: 100%;
}

.section-video {
  background: linear-gradient(var(--surface-default), var(--background-default));
  text-align: center;
}

.section-video em {
  font-style: normal;
  color: var(--action-primary);
}


.section-faq {
  font-size: 1rem;
  background: linear-gradient(var(--surface-default), var(--background-default));
  text-align: center;
}

.section-faq h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
}

.section-faq em {
  font-style: normal;
  color: var(--action-primary);
}

.section-support {
  font-size: 1rem;
  background: linear-gradient(var(--surface-default), var(--background-default));
  text-align: center;
}


.page {
  max-width: 768px;
  margin: 0 auto;
}

.page-chapter {
  font-size: 1.5rem;
}

.page-links {
  list-style: none;
}

.page-links li {
  padding-top: 0.5rem;
}

.page-title {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.page-subheading {
  font-size: 1.5rem;
  line-height: 1.625;
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--text-subdued);
  text-align: center;
}

.toc a {
  text-decoration: underline;
}

.toc {
  margin-top: 2rem;
  margin-bottom: 6rem;
}

.toc h2 {
  margin-top: 2rem;
}

.faqs {
  margin-left: auto;
  margin-right: auto;
  max-width: 60rem;
  text-align: left;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  font-size: 1rem;
  margin: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  padding: 1rem;
  background-color: var(--surface-default);
  border-radius: var(--radius-default);
  min-width: 16rem;
  border: 2px solid var(--border-default);
  box-shadow: 4px 4px var(--shadow-default);
  width: 100%;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}

.price {
  text-align: center;
}

.price p {
  margin: 0;
}

.price-detail {
  font-size: 0.875em;
}

.price-symbol {
  vertical-align: super;
}

.price-value {
  font-size: 2.5rem;
  font-weight: 200;
}

.feature-list {
  list-style: none;
  margin: 2rem 0;
}

.feature-list li {
  padding: 2px 0;
}

.feature-list li::before {
  background: url(/static/check.svg);
  width: 20px;
  height: 20px;
  content: '';
  display: inline-block;
  padding-top: 10px;
  filter: invert(80%) sepia(59%) saturate(2032%) hue-rotate(61deg) brightness(96%) contrast(95%);
  margin-right: 4px;
  margin-bottom: -4px;
}


@media (min-width: 768px) {
  .btn {
    width: fit-content;
  }

  .btn-wide {
    width: 100%;
  }

  .card {
    width: auto;
  }

  .hide-small {
    display: block;
  }

  .hide-large {
    display: none;
  }

  .container {
    max-width: 768px;
  }

  .navbar {
    font-size: 1rem;
  }

  .navbar-menu button {
    display: none;
  }

  .navbar-hidden {
    display: flex;
  }

  .navbar-links {
    display: flex;
    flex-direction: row;
    background-color: inherit;
    position: relative;
    width: 100%;
    gap: 16px;
    filter: none;
    font-size: inherit;
  }

  .grid-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {}

/* END */

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

.font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}