<!DOCTYPE html>
<html class="h-full">

<head>
    <title>{{ page.title | default: site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google-site-verification" content="Gd1OGfJoS8GdlZ-RmZFaavZ2rMGsOcmwJaXlo26_zCc" />
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
    <link href="/static/global.css" rel="stylesheet">
    <script src="//unpkg.com/alpinejs" defer></script>
</head>

<body>
    <header class="container" x-data="{open: false}">
        <div class="navbar">
            <a class="navbar-brand" href="/">
                <img src="/static/logo.svg" />yappir
            </a>
            <div class="separator"></div>
            <nav class="navbar-menu">
                <button @click="open = !open" @click.outside="open = false">
                    <img src="/static/hamburger.svg" />
                </button>
                <ul class="navbar-links" :class="open || 'navbar-hidden'" x-transition x-cloak role="navigation">
                    <li><a href="/">Home</a></li>
                    <li><a href="/help">Help</a></li>
                    <li><a href="/pricing">Pricing</a></li>
                    <li><a href="https://app.yappir.com/signup">Sign Up</a></li>
                    <li><a href="https://app.yappir.com/login">Log In</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="main">
        {{content}}
    </main>
    <footer class="footer">
        <div class="container footer-inner">
            <span>Copyright © 2023 Yappir</span>
            <div class="separator"></div>
            <a href="mailto:support@yappir.com">support@yappir.com</a>
        </div>
    </footer>
</body>

</html>